/* @media screen and (max-width:600px) { */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    width: 100%;
    border: white;
  }
  nav.icon1 {
    display: block;
  }
  .logo1 {
    font-size: 20px;
    position: relative;
    top: 20px;
    right: 85px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -150%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
    overflow: hidden;
  }
  nav li {
    display: block;
    margin: 0px 0;
    line-height: 30px;
  }
  nav a {
    font-size: 15px;
  }
  a.active,
  a:hover {
    border: none;
    color: black;
  }
  nav ul.show {
    left: 0;
  }
  nav {
    height: 80px;
    width: 100%;
    border: none;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
  }

  .img {
    background-image: url(p2/p6.jpg);
    height: 400px;
    width: 95%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .te {
    height: 140px;
    width: 80%;
    margin: 250px auto;
  }
  .he1{
    font-size: 18px;

  }
  .he2{
    font-size: 12px;

  }
  .main {
    height: 740px;
    width: 100%;
    display: block;
    border: none;
    margin: auto;
    padding-top: 30px;
  }
  .box1 {
    width: 90%;
    height: 250px;
    margin-top: 20px;
    font-size: 17px;
    margin: auto;
    border: 1px solixd red;
  }
  .box2 {
    width: 90%;
    height: 400px;
    background-image: url(p2/p2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

    margin: auto;
    margin-top: 10px;
  }
  .art {
    margin: 0;
    padding: 0;
    height: 1250px;
    width: 99.8%;
    border: none;
    border: 1px solid bisque;
  }
  article {
    box-sizing: none;
    display: block;
    margin: auto;
    margin-top: 90px;
  }
  .img1 {
    height: 300px;
    width: 95%;
    position: relative;
    left: 0px;
    border: none;
    margin: auto;
   
  }
  .img2 {
    height: 300px;
    width: 95%;
    position: relative;
    left: 0px;
    border: none;
    margin: auto;
  }
  .img3 {
    height: 300px;
    width: 95%;
    position: relative;
    left: 0px;
    border: none;
    margin: auto;
  }

  figcaption i {
    visibility: visible;
    margin-right: 10px;
    color: blue;

    width: 20px;
  }

  .hidden {
    visibility: hidden;
  }
  #tata {
    position: relative;
    top: 40px;
    margin-left: 20%;

    color: black;
    font-size: 23px;
    font-weight: bold;
  }
  #a {
    margin-left: 8%;
    font-size: 14px;
  }
  #b {
    font-weight: bold;
    font-size: 15px;
    margin-left: 8%;
  }

  #c {
    position: relative;
    top: -25px;
    left: 70%;
    font-size: 15px;
  }

  .slider {
    height: 380px;
    width: 100%;
  }
  .slider article {
    height: 300px;
    width: 100%;

    position: relative;
    top: -60px;
  }
  .members {
    font-size: 23px;
    text-align: center;
    align-self: center;
    margin: auto;
    margin-top: 25px;
  }
  .sl1 {
    height: 250px;
    width: 400px;
    margin-left: 1250px;
  }
  .sl2 {
    height: 250px;
    width: 400px;
  }
  .sl3 {
    height: 250px;
    width: 400px;
  }
  .foot11 {
    height: 590px;
    width: 99.8%;
    box-sizing: border-box;
    border: 1px solid bisque;
  }
  .feel1 {
    height: 220px;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
  }

  .m1 {
    width: 50%;
    height: 100px;
    position: relative;
    left: 0px;
    top: 30px;
    color: blue;
    margin: auto;
  }
  .m1 b {
    font-size: 20px;
  }
  .m2 {
    width: 80%;
    height: 200px;
    position: relative;
    top: 10px;
    left: 0px;
    font-family: cursive;
    margin: auto;
  }
  .feel1 p {
    z-index: 1;
    font-size: 18px;
  }
  .feel3 {
    height: 200px;
    width: 90%;
    position: relative;
    left: 5%;
    top: -120px;
    background-size: cover;
  }
  .feel2 {
    height: 100px;
    width: 100%;
    display: block;
    position: relative;
    top: 390px;
    left: 0;
  }

  #s1 {
    position: relative;
    left: 0;
    top: -150px;
    width: 94%;
    margin: auto;
  }

  #s1 input {
    height: 45px;
    width: 100%;
    border-radius: 6px;
    border: 0;
    outline: none;
    background-color: rgba(145, 148, 148, 0.3);
    text-align: center;
    font-size: 14px;
    margin: auto;
  }
  .btn {
    height: 45px;
    width: 94%;
    position: relative;
    left: 0px;
    text-align: center;
    top: -145px;
    color:white;
    font-size: 15px;
    background-color: blue;
    border-radius: 5px;
    margin-left: 3%;
  }
  .btn:hover {
    font-size: 18px;
  }
  .footer {
    height: 480px;
    width: 100%;
  }
  .b1 {
    height: 200px;
    width: 98%;
  }
  .foot1 {
    height: 100px;
    width: 95%;
    text-align: left;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 17px;
  }
  .foot2 {
    height: 100px;
    width: 95%;
    position: relative;
    top: -80px;
    margin-left: 20px;
    font-size: 15px;
  }
  .foot3 {
    height: 80px;
    width: 95%;
    position: relative;
    top: -20px;
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
  }

  .foot4 {
    height: 150px;
    width: 100%;
    position: relative;
    top: -50px;
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
    overflow: hidden;
    list-style-type: none;
  }

  .b1 {
    display: block;
    overflow: hidden;
  }

  .b2 {
    display: block;
    overflow: hidden;
  }
  .foot4 ol li a {
    margin-left: 1px;
    font-size: 13px;
    margin-right: 15px;
  }
  .ad {
    font-size: 13px;
  }
  .line {
    position: relative;
    top: 10px;
  }
  .f {
    position: relative;
    top: 10px;
    font-size: 14px;
  }
  .icon {
    margin-top: 0px;
    justify-content: left;
  }
  .bha {
    visibility: visible;
  }
  .menu-toggle {
    position: absolute;
    top: -18px;
    left: 80%;
    display: block;
    margin-top: 40px;
    z-index: 1;
    visibility: visible;
  }
  span {
    width: 26px;
    height: 4px;
    display: block;
    background-color: black;
    margin: 7px;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 30px;
  }

  .dropdown {
    display: none;
  }
  .about {
    display: none;
  }
  .dropdown {
    height: 0px;
    width: 0px;
    display: none;
  }
  .up0 {
    display: none;
  }
  .up {
    display: none;
  }
  #h i {
    display: none;
  }
  .dropdown::before {
    display: none;
  }
}
